<div class="container text-center">
    <h1 style="font-weight: bold; font-size: 14rem;">404 Error</h1>
    <hr class="colorgraph">
    <h3>Page you were looking cannot be found!!!</h3>
    <br>
    <div><%= link_to "Go Back", root_path %></div>
</div>
