/*
 * Sidebar
 */

.sidebar {
  margin-top: 20px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav > .active {
  background-color: #f9f9f9;
}

.sidebar .nav-link {
  border-radius: 0;
  border-bottom: 1px solid #d6d4d4;
}
.sidebar .nav .nav-item>a{border-top: 1px solid #d6d4d4; border-bottom: 1px solid #d6d4d4;}
li.nav-active{
  background-color: #eee !important;
}
.navbar-nav>li>a{text-transform: capitalize;}
/*
* Custom Styles
*/
.marg0 {margin: 0 !important;}
.pad0 {margin: 0 !important;}
.margbtm{margin-bottom: 100px;}
.pad-left0{padding-left: 0px !important;}
.pad-right0{padding-right: 0px !important;}
.nav-pad10{padding: 15px 10px 15px 10px !important;}
.app-name{color: #4fc3f7 !important;}
.section-head{color: #08a0e4;}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #6cc8f8;
  left: -5px;
  position: absolute;
  margin-top: 1px;
  z-index: 1;
}
a.pad-l25 {padding-left:25px !important;}
ul.categories{
  margin: 0;
  padding: 0;
  list-style: none;
}
.red-text{color: red;}
.custom-dropdown-menu{
  position: relative;
  float: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
span#nav-caret{margin-top: 8px;}
ul.pagination{margin: 0px; }
.page-header{margin-top: 0 !important; margin-bottom: 0 !important; border-bottom: none;}
.red{color: red}
.green{color: green}
.score{color: #f0766c;}
.bs-callout-info {
  border-left-color: #1b809e !important;
}
.bs-callout-danger {
    border-left-color: #ce4844 !important;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
